name: Pull Request Check

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3

      - name: Set up Go
        uses: actions/setup-go@v3
        with:
          go-version: 1.21

      - name: Build
        run: go build -v ./...

      - name: Test
        run: go test -v ./...

      - name: Install NWA
        run: go install github.com/B1NARY-GR0UP/nwa@37adc510599dfca423289f9683f3d10a9db766eb

      - name: Run License Header Check
        id: license_check
        run: nwa check -c "BINARY Members" -l apache -y 2024 ./*.go > license_check_output.txt

      - name: Check License Header Results
        run: |
          mismatched_count=$(grep -o -m 1 'mismatched=[0-9]*' license_check_output.txt | cut -d'=' -f2 || echo "0")
          if [ "$mismatched_count" -ne 0 ]; then
            echo "License header check failed: some files are missing the correct license header."
            cat license_check_output.txt
            exit 1
          fi
